
body {
    margin: 0;
    font-family: Arial;
    background-color: #d4d1d1;
  
  }
header {
    background-color: #7d1919;
    margin: 2;
    border: #7d1919;;
    padding: 10px; 
}

h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: xxx-large;
}
h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
 h3{ font-family:cursive }

.Aboutme {
    
margin: 1;

  }