
body {
    margin: 0;
    font-family: Arial;
    background-color: #fdf9f9;
  
  }
header {
    background-color: #7d1919;
    margin: 2;
    border: #7d1919;;
    padding: 10px; 
    text-align: center;
}

h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: xxx-large;
}
h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
 h3{ font-family:cursive }



.navbar {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: rgb(224, 166, 166);
padding: 10px;
color: white;
text-align: right;

}

 .box{text-align: left;
    padding-left: 15px;
    background-color: #cfbcbc;
    

  }

  .box1 {
    background-color:#cfbcbc;
  }


  #Aboutme{padding: 10px}

#Photos{
  background-color: #e2caca;
  padding: 15px;

}
#NotableAlum {background-color: #885f5f;
}

#Clubs { background-color: #885f5f;}

a{color:#000000;
padding:5px;
}